
# Configure time
aclocal.m4
autom4te.cache
config.log
config.status
Makefile
src/meshfem2D/Makefile
src/specfem2D/Makefile

setup/config.h
setup/constants.h
setup/precision.h

# Scotch files
src/meshfem2D/scotch_5.1.12b/src/Makefile.inc
src/meshfem2D/scotch_5.1.12b/bin/
src/meshfem2D/scotch_5.1.12b/include/
src/meshfem2D/scotch_5.1.12b/lib/
src/meshfem2D/scotch_5.1.12b/src/libscotch/*.o
src/meshfem2D/scotch_5.1.12b/src/libscotch/*.a
src/meshfem2D/scotch_5.1.12b/src/libscotch/Makefile.org
src/meshfem2D/scotch_5.1.12b/src/libscotch/dummysizes
src/meshfem2D/scotch_5.1.12b/src/libscotch/parser_ll.c
src/meshfem2D/scotch_5.1.12b/src/libscotch/parser_ly.h
src/meshfem2D/scotch_5.1.12b/src/libscotch/parser_yy.c
src/meshfem2D/scotch_5.1.12b/src/libscotch/scotch.h
src/meshfem2D/scotch_5.1.12b/src/libscotch/scotchf.h
src/meshfem2D/scotch_5.1.12b/src/libscotch/y.output
src/meshfem2D/scotch_5.1.12b/src/libscotchmetis/*.o
src/meshfem2D/scotch_5.1.12b/src/libscotchmetis/Makefile.org
src/meshfem2D/scotch_5.1.12b/src/libscotchmetis/libscotchmetis.a
src/meshfem2D/scotch_5.1.12b/src/scotch/Makefile.org
src/meshfem2D/scotch_5.1.12b/src/scotch/acpl
src/meshfem2D/scotch_5.1.12b/src/scotch/amk_ccc
src/meshfem2D/scotch_5.1.12b/src/scotch/amk_fft2
src/meshfem2D/scotch_5.1.12b/src/scotch/amk_grf
src/meshfem2D/scotch_5.1.12b/src/scotch/amk_hy
src/meshfem2D/scotch_5.1.12b/src/scotch/amk_m2
src/meshfem2D/scotch_5.1.12b/src/scotch/amk_p2
src/meshfem2D/scotch_5.1.12b/src/scotch/atst
src/meshfem2D/scotch_5.1.12b/src/scotch/gbase
src/meshfem2D/scotch_5.1.12b/src/scotch/gcv
src/meshfem2D/scotch_5.1.12b/src/scotch/gmap
src/meshfem2D/scotch_5.1.12b/src/scotch/gmk_hy
src/meshfem2D/scotch_5.1.12b/src/scotch/gmk_m2
src/meshfem2D/scotch_5.1.12b/src/scotch/gmk_m3
src/meshfem2D/scotch_5.1.12b/src/scotch/gmk_msh
src/meshfem2D/scotch_5.1.12b/src/scotch/gmk_ub2
src/meshfem2D/scotch_5.1.12b/src/scotch/gmtst
src/meshfem2D/scotch_5.1.12b/src/scotch/gord
src/meshfem2D/scotch_5.1.12b/src/scotch/gotst
src/meshfem2D/scotch_5.1.12b/src/scotch/gout
src/meshfem2D/scotch_5.1.12b/src/scotch/gpart
src/meshfem2D/scotch_5.1.12b/src/scotch/gscat
src/meshfem2D/scotch_5.1.12b/src/scotch/gtst
src/meshfem2D/scotch_5.1.12b/src/scotch/mcv
src/meshfem2D/scotch_5.1.12b/src/scotch/mmk_m2
src/meshfem2D/scotch_5.1.12b/src/scotch/mmk_m3
src/meshfem2D/scotch_5.1.12b/src/scotch/mord
src/meshfem2D/scotch_5.1.12b/src/scotch/mtst

# Build time
bin/*
obj/*
*.mod

