
# Configure time
aclocal.m4
autom4te.cache
config.log
config.status
/Makefile

setup/config.h
setup/constants.h
setup/precision.h

# Scotch files
external_libs/scotch_5.1.12b/src/Makefile.inc
external_libs/scotch_5.1.12b/bin/
external_libs/scotch_5.1.12b/include/
external_libs/scotch_5.1.12b/lib/
external_libs/scotch_5.1.12b/src/libscotch/*.o
external_libs/scotch_5.1.12b/src/libscotch/*.a
external_libs/scotch_5.1.12b/src/libscotch/dummysizes
external_libs/scotch_5.1.12b/src/libscotch/parser_ll.c
external_libs/scotch_5.1.12b/src/libscotch/parser_ly.h
external_libs/scotch_5.1.12b/src/libscotch/parser_yy.c
external_libs/scotch_5.1.12b/src/libscotch/scotch.h
external_libs/scotch_5.1.12b/src/libscotch/scotchf.h
external_libs/scotch_5.1.12b/src/libscotch/y.output
external_libs/scotch_5.1.12b/src/libscotchmetis/*.o
external_libs/scotch_5.1.12b/src/libscotchmetis/libscotchmetis.a
external_libs/scotch_5.1.12b/src/scotch/acpl
external_libs/scotch_5.1.12b/src/scotch/amk_ccc
external_libs/scotch_5.1.12b/src/scotch/amk_fft2
external_libs/scotch_5.1.12b/src/scotch/amk_grf
external_libs/scotch_5.1.12b/src/scotch/amk_hy
external_libs/scotch_5.1.12b/src/scotch/amk_m2
external_libs/scotch_5.1.12b/src/scotch/amk_p2
external_libs/scotch_5.1.12b/src/scotch/atst
external_libs/scotch_5.1.12b/src/scotch/gbase
external_libs/scotch_5.1.12b/src/scotch/gcv
external_libs/scotch_5.1.12b/src/scotch/gmap
external_libs/scotch_5.1.12b/src/scotch/gmk_hy
external_libs/scotch_5.1.12b/src/scotch/gmk_m2
external_libs/scotch_5.1.12b/src/scotch/gmk_m3
external_libs/scotch_5.1.12b/src/scotch/gmk_msh
external_libs/scotch_5.1.12b/src/scotch/gmk_ub2
external_libs/scotch_5.1.12b/src/scotch/gmtst
external_libs/scotch_5.1.12b/src/scotch/gord
external_libs/scotch_5.1.12b/src/scotch/gotst
external_libs/scotch_5.1.12b/src/scotch/gout
external_libs/scotch_5.1.12b/src/scotch/gpart
external_libs/scotch_5.1.12b/src/scotch/gscat
external_libs/scotch_5.1.12b/src/scotch/gtst
external_libs/scotch_5.1.12b/src/scotch/mcv
external_libs/scotch_5.1.12b/src/scotch/mmk_m2
external_libs/scotch_5.1.12b/src/scotch/mmk_m3
external_libs/scotch_5.1.12b/src/scotch/mord
external_libs/scotch_5.1.12b/src/scotch/mtst

# Build time
bin/*
obj/*
*.mod
*__genmod.f90

# Trash files
.*swp
.*swo
*~
