# Travis configuration
#
# Note: building Fortran code is not supported (yet): see https://docs.travis-ci.com/user/language-specific/
#       this is using C as a base and installs gfortran in the test environment

language: c
dist: trusty
sudo: required

os: linux
compiler: gcc

env:
  global:
    - FC=gfortran
    - MPIFC=mpif90
    - CC=gcc
    - OMP_NUM_THREADS=2
    - WORKDIR=`pwd`

  matrix:
    # for test cases, we use
    #   TESTID       - identification number for test
    #   TEST    - flags used for configuration
    #   TESTFLAGS    - flags used for configuration
    #   TESTCOV - determines whether or not (0/1) code coverage flags are used
    #   CUDA    - flag for compilation with CUDA
    #   CUDA_VERSION - specifies CUDA toolkit version

    # code coverage: vectorization & mpi, using code coverage flags
    - TESTID=0 TESTDIR=1 TESTCOV=1 TESTFLAGS="--without-mpi" CUDA=false

    # code coverage: vectorization & mpi, using code coverage flags
    - TESTID=1 TESTDIR=1 TESTCOV=1 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # default test with make tests
    - TESTID=2 TESTDIR=0 TESTCOV=0 TESTFLAGS="" CUDA=false

    # compilation w/ CUDA
    - TESTID=3 TESTDIR=1 TESTCOV=0 TESTFLAGS="--with-cuda=cuda5 --without-mpi" CUDA=true CUDA_VERSION=6.5-14

    # compilation w/ CUDA and MPI
    - TESTID=4 TESTDIR=1 TESTCOV=0 TESTFLAGS="--with-cuda=cuda5 --with-mpi" CUDA=true CUDA_VERSION=6.5-14

    # debug flags
    - TESTID=5 TESTDIR=1 TESTCOV=0 TESTFLAGS="--enable-debug" CUDA=false

    # debug & double precision
    - TESTID=6 TESTDIR=1 TESTCOV=0 TESTFLAGS="--enable-double-precision --enable-debug" CUDA=false

    # vectorization
    - TESTID=7 TESTDIR=1 TESTCOV=0 TESTFLAGS="--enable-vectorization --without-mpi" CUDA=false

    # example w/ PML
    - TESTID=8 TESTDIR=2 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ MPI and Stacey
    - TESTID=9 TESTDIR=3 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ kernel calculation
    - TESTID=10 TESTDIR=4 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ poroelastic/acoustic media
    - TESTID=11 TESTDIR=5 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ noise
    - TESTID=12 TESTDIR=6 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ axisymmetric & attenuation
    - TESTID=13 TESTDIR=7 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ PML and MPI
    - TESTID=14 TESTDIR=8 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ MPI and SEP format
    - TESTID=15 TESTDIR=9 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ initialfield Rayleigh wave
    - TESTID=16 TESTDIR=10 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ initialfield Rayleigh wave and manual crack
    - TESTID=17 TESTDIR=11 TESTCOV=0 TESTFLAGS="--enable-vectorization --with-mpi" CUDA=false

    # example w/ SH waves and checkerboard model
    - TESTID=18 TESTDIR=12 TESTCOV=0 TESTFLAGS="--without-mpi" CUDA=false

    # check amplitudes pressure
    - TESTID=19 TESTDIR=13 TESTCOV=0 TESTFLAGS="--without-mpi" CUDA=false

    # check amplitudes elastic
    - TESTID=20 TESTDIR=14 TESTCOV=0 TESTFLAGS="--without-mpi" CUDA=false

    # check amplitudes viscoelastic
    - TESTID=21 TESTDIR=15 TESTCOV=0 TESTFLAGS="--without-mpi" CUDA=false

    # fluid solid
    - TESTID=22 TESTDIR=16 TESTCOV=0 TESTFLAGS="--with-mpi" CUDA=false

    # poroelastic
    - TESTID=23 TESTDIR=17 TESTCOV=0 TESTFLAGS="--with-mpi" CUDA=false


before_install:
  # informations on git
  - |
    git --version
    git rev-parse --verify HEAD
    git branch -a

  # infos on commits
  - |
    echo "request: Branch($TRAVIS_BRANCH) Pull Request($TRAVIS_PULL_REQUEST) Tag($TRAVIS_TAG)"
    echo "commit : Commit($TRAVIS_COMMIT) Range($TRAVIS_COMMIT_RANGE)"

  # recommended for MPI projects to unset CC: see https://docs.travis-ci.com/user/languages/c
  #- test -n $CC && unset CC

  # in case travis fails randomly due to missing key
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 6B05F25D762E3157

  # updates repository
  - sudo apt-get update


install:
  - bash .travis/run_install.sh


script:
  - bash .travis/run_tests.sh


after_success:
  ###########################################################
  # code coverage
  ###########################################################
  - |
    if [ "$TESTCOV" == "1" ]; then
      gcov --version
      echo `pwd`
      ls -al obj/
    fi

  # produces coverage reports (done manually because of different naming for source & object files)
  - |
    if [ "$TESTCOV" == "1" ]; then
      find obj/ -iname '*.o' | sort | awk '{print "gcov -o obj/ "$1;}'
      # executes gcov-commands
      find obj/ -iname '*.o' | sort | awk '{print "gcov -o obj/ "$1;}' | sh
    fi

  # code coverage: see example https://github.com/codecov/example-fortran/blob/master/.travis.yml
  - if [ "$TESTCOV" == "1" ]; then bash <(curl -s https://codecov.io/bash) -X gcov; fi
